{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block about-us %}
<div class="about-us" id="about" data-aos="fade">
    <div class="container">
      <div class="heading">
        <h1>About DawateIslami India</h1>
      </div>
      <div class="content">
        <h5>Dawateislami India is a leading non profit, religious organisation in India working for the past 4 decades.<br><br>

          The true colour of the organisation can be pictured from its motto, called madani aim, “I must strive to reform myself and people of the entire world ان شاءاللہ" written by founder of dawateislami who is a great Sufi and a world known islamic scholar “Maulana Ilyas Qadri”. The motto is used regularly as affirmation and followed by all volunteers of the organisation.<br><br>
          
          With this strong motto, Dawateislami has made tremendous progress and is now working in 50+ Departments. Darul Madeena (International islamic schooling system), Jamiatul Madeena (Islamic Institution), Madrasatul Madeena (Teaching Quran), Plantation and various other Departments are bringing remarkable transformation in societies across the globe and helping people, especially the young, to live peacefully.<br><br>
          
          Importance of women empowerment is well understood from teachings of Our Beloved Prophet, Hazrat Muhammad صلی اللہ علیہ وسلم. Dawateislami india also works with islamic sister’s for their empowerment, within the boundaries of sharia.
          
          We encourage women to work, actively participate and volunteer for Dawateislami India. Apart from employing hundreds of women, we also have thousands of women volunteers across India.<br><br>
          
          Apart from being a religious organisation, Dawateislami India is also well known for its social and welfare activities which positively impacted lakhs of people across India. The organisation provides relief funds and supports families in case of emergency with the help of huge number of volunteers.<br><br>
          
          If you would like to learn more about our organisation or want to support us anyway, please feel free to reach out to your nearest Madani Markaz (our centre) or you can get in touch with any of our volunteers (Muballigh) in your locality.<br><br>  </h5>
      </div>
    </div>
  </div>
  {% endblock about-us %}