
<form class="row g-3">
    <div class="col-md-6">
      <label for="mobie" class="form-label">Mobile Number:</label>
      <input type="mobile" class="form-control" id="mobile" placeholder="9898242445">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
          <div class="col-md-6">
            <label for="zone" class="form-label">Zone</label>
            <input type="text" class="form-control" id="zone">
          </div>
          <div class="col-md-4">
            <label for="district" class="form-label">District</label>
            <select id="district" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
    <div class="col-12">
      <label for="zehliHalqa" class="form-label">Zehli Halqa</label>
      <input type="text" class="form-control" id="zehliHalqa" placeholder="Kanzul Iman Masjid">
    </div>
    <div class="col-12">
      <label for="alaqa" class="form-label">Alaqa</label>
      <input type="text" class="form-control" id="alaqa" placeholder="Juhapura">
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>